<!DOCTYPE html>
<html lang="en">
    <head class="head__titulo">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/6109fc3240.js" crossorigin="anonymous"> </script>
    </head>
    <body>
        <header class="header__logo">
            <img src="/images/logo-mercado-liebre.svg"
                alt="logo-mercado-liebre">
            <form action="">
                <input type="text" name="" id="">
                <input type="button" value="Buscar">
                <nav><i class="fa-solid fa-magnifying-glass"></i></nav>
                </form>
            <p class="header__logo_pagotarjeta"><i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
            
            <nav>
                <ul class="header__lista">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
                <ul class="header__lista">
                    <li>Creá tu cuenta <i class="fa-solid fa-address-card"></i>
                    <li>Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    <li>Mis compras <i class="fa-solid fa-basket-shopping"></i>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <img src="/images/img-home-banner.jpg" alt="banner" height="71">
        </header>
        <main>
            <section class="main__productos">
                <h3 class="main__productos__titulares"> Sección: Basado en tu última visita</h3>
                <div class="main__productos_cafetera">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" height="320">
                    <p class="main__productos__precio">$6.770</p>
                    <p class="main__productos__descuentos">40% OFF</p>
                    <p class="main__productos__descripcion">Cafetera Moulinex</p>
                </div>
                <div class="main__productos">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" height="320">
                    <p class="main__productos__precio">$230.000</p>
                    <p class="main__productos__descuentos">20% off</p>
                    <p class="main__productos__descripcion">MacBook Pro 2019</p>
                </div>
                <div class="main__productos">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung
                        Galaxy" height="320">
                    <p class="main__productos__precio">$70.500</p>
                    <p class="main__productos__descuentos">10% off</p>
                    <p class="main__productos__descripcion">Samsung Galaxy S10</p>
                </div>
                <div class="main__productos">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv
                        Samsung" height="320">
                    <p class="main__productos__precio">$23.200</p>
                    <p class="main__productos__descuentos">5% off</p>
                    <p class="main__productos__descripcion">SmartTv Samsung 43"</p>
                </div>
                <h3 class="main__productos__titulares"> Sección de Ofertas</h3>
                <div class="main__productos_cafetera1">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" height="320">
                    <p class="main__productos__precio">$6.770</p>
                    <p class="main__productos__descuentos">40% off</p>
                    <p class="main__productos__descripcion">Cafetera Moulinex</p>
                </div>
                <div class="main__productos_macbook1">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" height="320">
                    <p class="main__productos__precio">$230.000</p>
                    <p class="main__productos__descuentos">20% off</p>
                    <p class="main__productos__descripcion">MacBook Pro 2019</p>
                </div>
                <div class="main__productos_samsung1">
                    <img src="/images/img-samsung-galaxy-s10.jpg"
                        alt="samsung-galaxy" height="320">
                    <p class="main__productos__precio">$70.500</p>
                    <p class="main__productos__descuentos">10% off</p>
                    <p class="main__productos__descripcion">Samsung Galaxy S10</p>
                </div class>
                <div class="main__productos_smartTv1">
                    <img src="/images/img-tv-samsung-smart.jpg"
                        alt="tv-samsung-smart" height="320">
                    <p class="main__productos__precio">$23.200</p>
                    <p class="main__productos__descuentos">5% off</p>
                    <p class="main__productos__descripcion">SmartTv Samsung 43"</p>
                </div>

            </section>
        </main>
        <footer>
            <div class="footer__formadepago1"><i class="fa-solid fa-credit-card"></i>
                <h5 class="footer__info"> Pagá con tarjeta o en efectivo</h5>
                <p class="footer__info">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta
                    o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer__formadepago2"><i class="fa-solid fa-gift"></i>
                <h5 class="footer__info"> Envío gratis desde $ 2.500</h5>
                <p class="footer__info">Solo por estar registrad@ en Mercado Liebre tenés envíos
                    gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer__formadepago3"><i class="fa-solid fa-user-shield"></i>
                </div>
                <h5 class="footer__info"> Seguridad, de principio a fin</h5>
                <p class="footer__info">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que
                    no puedas hacer,porque estás siempre protegid@.</p>
                <p class="footer__info">
            </div>
            <div>
                <h6>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
            </div>
        </footer>
    </body>
</html>