
.header__logo{
    display: flex;
    background-color: yellow;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.header__logo_img{
    display: flex;
    width: 50%;
}
.header__logo_img img{
    width: 100%;
}
.header__barra{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__barra input{
    width: 90%;
    border: none;
    padding: 10px 0;
    border-radius: 5px 0 0 5px;
}
.header__barra button{
    width: 10%;
    padding: 10px 0;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #FFF;
}
.header__barra button i{
    font-size: 12px;
    
}
.header__articulo{
    display:flex;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    font-size: 12px;
}
.header__logo_pagotarjeta{
    text-align: center;
    font-family: 'Roboto', sans-serif
}

p{
    font-family: 'Roboto', sans-serif
}
.header__menu{
    display: none;
}
.header__lista{
    list-style: none;
    padding-left: 3px;
    font-family: 'Roboto', sans-serif;
    gap: 5px;
}
.header__lista_li{
    list-style: none;
    padding-left: 3px;
    font-family: 'Roboto', sans-serif;
    gap: 5px;
    
}
.burger-menu{ 
    display: flex;
    width: 100%;
    padding-top: 20px;
    justify-content: center;
}
.burger-menu i {
    background-color: var(--colorCeleste);
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
}
.banner_p{
    width: 100%;
}
/*main*/
.body__main{
    width: 100%;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ebebeb;
}
.body_main{
    background-color: #ebebeb;
    
}
.main__productos__titulares{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color:#666
}
.main__productos{
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
    }
.main__test{
    position: relative;
    background-color: white;
    margin-bottom: 10px;
    text-align:justify;
    display: flex;
    border-top:1px solid  #ebebeb;
    }
.main__productos_principal{ 
    margin: 10px 10px;
    align-items: center;
    justify-content:center ;
    
}
.main__productos_principal_art{
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.main__productos_principal_art img{
    width: 100%;
}
.main__productos__precio{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 40%;
    margin-bottom: 10px;
    font-weight: 400;


}
.main__productos__descuento{
    color: #39b54a;
    width: 50%;
    font-weight: 400;
    font-size: var(--descripcionesYdescuentos);
}
.main__productos__articulo{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid #ebebeb;
    text-align: left;
    background-color: #fff;
}
.main__productos_descripcion{
    display: none;
}
/*footer*/
.footer__formadepago1{
    color: blue;
    text-align: center;
    margin-top: 20px;
}
.footer__formadepago1 i{
    font-size: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer__formadepago2{
    color: blue;
    text-align: center;
    margin-top: 20px;
}
.footer__formadepago2 i{
    line-height: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer__formadepago3{
    color: blue;
    text-align: center;
    margin-top: 20px;
}
.footer__formadepago3 i{
    line-height: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}


.footer__info{
    color: black;
    margin-top: -1px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
}

/*Tablet*/
@media(min-width:768px){
    .header__articulo{
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /*.header__logo_section{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }*/
    .header__logo_section img{
        width: 35%;
    }
    
    /*.header__logo_img{
        width: 40%;
    }*/
    .header_buscar{
        display: none;
    }
    .header__barra{
        width: 500px;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .header__logo_pagotarjeta{
        width: 80%;
        font-size: 13px;
        display: flex;
        justify-content: flex-end;
    }
    .header__logo_input{
        width: 30%;
        height: 10px;

    }
    .header__menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 150px;
        margin-top: 30px;
    }
    .header__lista{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    ul.header__lista_li{
        display: flex;
        flex-direction: row;
        text-align: right;
        margin-bottom: 10px;
    }
    .main__productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .main__productos_principal_art{
        width: 48%;
    }
    .main__productos_descripcion{
        text-align: left;
    }
    .burger-menu{
        display: none;
    }
    .main__productos{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px 20px 0px 20px ;
        gap: 20px;

    }
    .main__productos__articulo_img{
        width: 50%;
    }
    
    /*.main__productos__articulo_img{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }*/
    .main__productos_descripcion{
        display: block;
        flex-wrap: wrap;
    }
    .main__productos_principal{ 
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40%;
        margin: 10px 10px;
        align-items: center;
    }
    
    
    }

/* computadora*/
@media(min-width:1024px){
    .body__main{
        height: 100%;
        width: 100%;
    }
    .header__menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 400px;
    }
    .header__logo_pagotarjeta{
        font-size: 16px;
    }
    .header__lista{
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 7px;

    }
    .header__lista_li{
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 7px;
    }
    .main__productos{
        display: flex;
        flex-direction: row;
        justify-content: space-araund;
        gap: 35px;
        
    }
    .main__productos_principal_art{
        width: 20%;
    }

}
