input:-wedkit-autofill, input:-wedkit-autofill:hover,
input:-wedkit-autofill:focus, input:-wedkit-autofill:active {
-wedkit-box-shadow: 0 0 0 30px white inset !important;
}
.form{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}

.form__title{
    text-align: center;
}

.form___box{
    width: 100%;
}

.form__input{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
}

@media (min-width:768px) {
    .form{
        flex-direction: row;
        gap: 30px;
    }

    .form___box{
        width: 47%;
    }
}